locator {
    position: fixed;
    top: 20px;
    right: 20px;
}

.map-containner {
    height: 100%;
    display: flex;
    background-color: rgb(235, 235, 235);
}

.card {
    position: fixed;
    top: 30px;
    z-index: 99;
    right: 50%;
    transform: translateX(50%);
}